.clock {
    display: inline-block;
    width: 100%;
    color: #ffffffff;
}

.clock > .time {
    width: 25%;
    float: left;
    text-align: center;
    margin: 15px 0;
    font-weight: bolder;
}

.clock > .time > .value {
    display: inline-block;
    width: 100%;
    font-size: 45px;
}

.clock > .time > .title {
    display: inline-block;
    width: 100%;
}

@media (max-width: 480px) {
    clock > .time {
    width: 50%;
    }
}